Infrastructure Report
=====================

Host Information
-------------------------------------------------------------------------
Inventory Name    : {{ inventory_hostname | default('N/A') }}
Hostname          : {{ ansible_facts.hostname | default('N/A') }}
FQDN              : {{ ansible_facts.fqdn | default('N/A') }}
Operating System  : {{ os_pretty_name.stdout | default('N/A') }}
Kernel            : {{ ansible_facts.kernel | default('N/A') }}
Architecture      : {{ ansible_facts.architecture | default('N/A') }}


CPU
-------------------------------------------------------------------------
Model             : {{ cpu_model }}
Sockets           : {{ ansible_facts.processor_count | default('N/A') }}
Cores / Socket    : {{ ansible_facts.processor_cores | default('N/A') }}
Logical CPUs      : {{ ansible_facts.processor_vcpus | default('N/A') }}


Memory
-------------------------------------------------------------------------
Total RAM         : {{ '%.2f' | format((memory_total_mb | int) / 1024) }} GB
Total Swap        : {{ '%.2f' | format((memory_swap_mb | int) / 1024) }} GB

Storage
-------------------------------------------------------------------------
{% if mounted_filesystems | length == 0 %}
No mounted filesystems found.
{% else %}
{% for mount in mounted_filesystems %}
Mount Point       : {{ mount.mount }}
Filesystem        : {{ mount.fstype }}
Device            : {{ mount.device }}
Total Size        : {{ ((mount.size_total | int) / 1073741824) | round(2) }} GB
Available Space   : {{ ((mount.size_available | int) / 1073741824) | round(2) }} GB
{% endfor %}
{% endif %}

Network Interfaces
------------------
{% for iface in network_interfaces %}
Interface         : {{ iface.name }}
Status            : {{ 'UP' if iface.active else 'DOWN' }}
Type              : {{ iface.type }}
MAC Address       : {{ iface.mac }}
MTU               : {{ iface.mtu }}
IPv4              : {{ iface.ipv4 }}{% if iface.ipv4_prefix != '' %}/{{ iface.ipv4_prefix }}{% endif %}

{% if iface.ipv6 | length > 0 %}
IPv6 Addresses:
{% for ip in iface.ipv6 %}
  - {{ ip.address }}/{{ ip.prefix }}
{% endfor %}
{% endif %}

{% endfor %}

=====================================================================================================

Kubernetes
=====================

Installed         : {{ kubernetes_report.installed | default(false) }}
Distribution      : {{ kubernetes_report.distribution | default('N/A') }}
Version           : {{ kubernetes_report.version | default('N/A') }}

Node Roles
-------------------------------------------------------------------------
{% if kubernetes_report.node_roles | default([]) | length > 0 %}
{% for role in kubernetes_report.node_roles %}
- {{ role }}
{% endfor %}
{% else %}
- None
{% endif %}

Components
-------------------------------------------------------------------------
{% if kubernetes_report.components | default([]) | length > 0 %}
{% for component in kubernetes_report.components %}
- {{ component }}
{% endfor %}
{% else %}
- None
{% endif %}
